$brandPrimary: #DE3C2F;
$brandSecondary: #4C4C4C;
$accentOne: #fff;
$accentTwo: #989898;
$gradientOne: #329DD5;
$gradientTwo: #DD3C30;

$largeWidth: 1200px;
$wrapperWidth: 1050px;


$bp-large: 940px;
$bp-medium: 767px;
$bp-small: 480px;

$fontSize: 62.5%;

$sanSerifOne : 'Raleway', sans-serif;
$sanSerifTwo : 'Open Sans', sans-serif;
$serif : 'Georgia' , serif;

